
<!-- esta es una vista parcial-->

<div class="text-center">
    
    <h1 class="display-4">Soy Gabriel Manchola Arango  </h1>
    <h2>Soy un desarrollador full stack especializado en desarrollo con .Net</h2>



    <img src="~/imagenes/foto.jpg" alt="Foto de Gabriel" id="foto" />


</div>
<div class = "row justify-content-center text-center bg-primary">   
    <div class = "col col-md-7 seccion-bienvendia">
        <h1>Bienvenido a mi portafolio</h1>
        <p> 
            He desarrollado en PHP nativo mientras cursaba mi tecnología en el Sena, estuve dos meses capacitándome y comenzando a desarrollar en angular al entrar a mis prácticas, 
            lastimosamente luego de esto termine en un puesto de analista en el cual no tenía ninguna actividad que tuviera que ver con desarrollo, estos dos años que llevo en el puesto
            he realizado cursos en Python, también he realizado cursos de RPA con Rocketbot y finalmente estoy certificado en ASP.Net Core con C#.

            Tengo conocimientos de SQL, Java y POO.

            Estoy dispuesto y con todos los ánimos posibles de aprender en la experiencia laboral del ámbito de desarrollo web para poder seguir creciendo como profesional.

        </p>
    </div>
</div>