
<!-- esta es una vista parcial-->

<div class="text-center">
    
    <h1 class="display-4">Soy Gabriel Manchola Arango </h1>
    <h2>Soy desarrollador full stack especializado en desarrollo con .Net</h2>



    <img src="~/imagenes/foto nueva.jpg" alt="Foto de Gabriel" id="foto" />



</div>
<div class = "row justify-content-center text-center bg-primary">   
    <div class = "col col-md-7 seccion-bienvendia">
        <h1>Bienvenido a mi portafolio</h1>
        <p> 
            Desarrollé en PHP nativo mientras cursaba mi tecnología en el Sena, estuve dos meses capacitándome y comenzando a desarrollar en angular al entrar a mis prácticas, 
            luego de esto me transfirieron a un puesto de analista en EMMA-Bancolombia en el cual no tenía ninguna actividad que tuviera que ver con desarrollo, estos dos años que llevo en el puesto
            he realizado cursos en Python y también de RPA con Rocketbot, más recientemente me certifique en ASP.Net Core con C#.

            Tengo conocimientos de SQL, Java, POO, programación con servicios y APis con asp .Net core.

            Estoy dispuesto y con ánimos de aprender más sobre desarrollo web en .Net para continuar mi crecimiento profesional como desarrollador.

        </p>
    </div>
</div>